body .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #69a9bf;
    background-image: linear-gradient(#69a9bf,#a3d4dd);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -msn-background-size: cover;

}

.language-menu {
    min-width: 2rem;
}

.language-item {
    padding: .25rem .75rem;
}

.city-menu {
    min-width: 22.6rem;
}

.search-group {
    min-width: 25rem;
}

.bg-nav1 {
    background-color: #482bbd;
}

.bg-nav2 {
    background-color: #1b4bc4;
}

.margin-menu {
    margin-top: 6.5rem;
}

.card {
    background-color: #ffffff;
    border-radius: 50px;
    color: #6f707d;
    font-family: 'Marcellus', serif
}

#heading {
    font-size: 55px;
    color: #2b304d
}

.temp {
    place-items: center
}

.temp-details>p>span,
.grey {
    color: #a3acc1;
    font-size: 12px
}

.fa {
    color: #a5a5b1
}

*:focus {
    outline: none
}

.block-ten {
    background-color: white;
    border-radius: .4em;
    /*border-color: #6f7585;
    border-style: solid;
    border-width: thin;*/
    border: 1px solid #dedede;
}

.h-1 {
    font-size: 1.5em;
}

.h-1 .span-1 {
    font-size: .65em;
    font-weight: 400;
}

.opacity-1 {
    opacity: .65;
}

.padding-1 {
    padding: 1em;
}

.h2-fs1 {
    font-size: 1em;
}
