.language-menu {
    min-width: 2rem;
}

.language-item {
    padding: .25rem .75rem;
}

.city-menu {
    min-width: 22.6rem;
}

.search-group {
    min-width: 25rem;
}

.bg-nav1 {
    background-color: #482bbd;
}

.bg-nav2 {
    background-color: #1b4bc4;
}

.margin-menu {
    margin-top: 6.5rem;
}

body {
    background-color: #a5a5b1;
}

.card {
    background-color: #ffffff;
    border-radius: 50px;
    color: #6f707d;
    font-family: 'Marcellus', serif
}

#heading {
    font-size: 55px;
    color: #2b304d
}

.temp {
    place-items: center
}

.temp-details>p>span,
.grey {
    color: #a3acc1;
    font-size: 12px
}

.fa {
    color: #a5a5b1
}

*:focus {
    outline: none
}